* {
  font-family: 'Century Gothic';

}

p, h1, h2, h3, h4, h5, h6, li, ol, input {
  font-family: 'Century Gothic';
}

body {
  background-image: url('assets/images/wallpaper1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

p {
   font-size: 18px;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msg {
  font-size: 16px;
  font-family: Calibri Light;
}

.message-sender {
   font-weight: bold;
   color: rgba(0, 0, 0, 0.623);
   font-family: Calibri Light;
   font-size: 15px;
}

.chat-window {
  bottom: 100px;
  position: relative;
}

.message-box {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 5px 10px;
  display: block;
  max-width: calc(100vw - 40vw);
  clear: both;
}
.send-msg-area {
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #05080f50;
   text-align: center;
}

.input-container {
   padding: 1px;
   width: 100%;
}

.msg-box {
   border-radius: 10px;
   outline: none;
   width: 80%;
   position: relative;
   border:1px solid white;
   color: rgba(0, 0, 0, 0.979);
   padding: 12px 10px;
   font-size: 16px;
}

button[class="sending-button"] {
   outline: none;
   border-color: black;
   background-color: black;
   cursor: pointer;
   color: white;
   padding: 15px;
   border-radius: 100%;
   width: 55px;
   height: 55px;
}


@media only screen and (max-wdith: 460px) {
  .msg-box {
    width: 70%;
    position: relative;
  }
}

/* Styles for modal */

.closeBut {
   right: 10px;
   color: black;
   border-radius: 100%;
}

.superBox {
   display:none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
}

.popUp_Box2 {
  background-color: white;
}

.submitUser {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  display: block;
  margin: auto;
  color: white;
  background: black;
  text-align: center;
  position: relative;
  width: 90px;
  cursor: pointer;
  transition: .5s;
}

.submitUser:hover {
  width: 110px;
}

.user-input-fields {
   top: 30px;
   position: relative;
}

.user_name, .user_password {
   outline: none;
   width: 100%;
   border-right: none;
   display:block;
   margin: auto;
   border-top: none;
   border-left: none;
   background-color: transparent;
   border-bottom:2px solid black;
   color: rgba(0, 0, 0, 0.979);
   padding: 9px 10px;
   font-size: 16px;
   transition: .6s;
}

.user_name:focus, .user_password:focus {
  border-bottom: 1px solid black;
}

.sign_in {
   font-size: black;
   text-align: center;
   font-family: Century Gothic;
   font-size: 40px;
}